<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vt.system">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Navigation_Drawer"
            android:label="@string/title_activity_navigation__drawer"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activity.ActivityRegistro"
            android:label="@string/title_activity_navigation__drawer"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activity.ActivityConsulta"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".Activity.ActivityConsulta"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.ActivityConsulta" />
        </activity>
        <activity
            android:name=".Activity.ActivityScanner"
            android:label="@string/title_activity_scanner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.FullScannerActivity"
            android:label="@string/title_activity_full_scanner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.prueba"
            android:label="@string/title_activity_prueba"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Volley"
            android:label="@string/title_activity_volley"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>